.a{
  height: 300px;
  background-color: #D3DEDC;
  background-image: linear-gradient(rgba(38, 32, 96, 0.2),rgba(38, 32, 96, 0.4)),url("img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  padding: 100px 0 0;
  text-align:center;
}
.li {
  float: left;
}
.nb {
  list-style-type: none;
  margin: 15px auto;
  padding: 0;
  overflow: hidden;
  background-color: #D3DEDC;
}
.li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: #7C99AC;
}
.pp{
  margin:auto;
padding: 20px 0;
max-width: 460px;
text-align: center;
position: relative;
}

.t{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
}
.p{
  font-size: 17px;
  text-align:center;
  max-width: 750px;
  margin:auto;
    padding:15px;
}

.img{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container {
  position: relative;
  width: 600px;
  height: 300px;
  margin: auto;
}

.image {
  opacity: 1;
  display: block;
  margin: auto;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 10px 10px lightblue;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.pp:hover .image {
  opacity: 0.3;
}

.pp:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.sh{
  text-align: left;
}
.al{
  padding: 30px 0;
  text-align:center;
  font-family:Rockwell;
  font-size: 30px;
}
.s{
  text-align: left;
  padding: 10px 0px;
  font-size: 17px;
  font-family: Lucida Handwriting;
}
.ta{
  font-family: MV Boli;
  font-size: 25px;
  margin: auto;
  padding: 20px;
}
.cm{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  padding:15px;

}
.bg{
  background-color: #2C2E43;
  color: white;
}
.btn{
  background-color: #A1B57D;
  font-size: 15px;
  padding:10px;
  margin: auto;
  color: white;
}
body{
  background-color: #F3F0D7;
}
.ac{
  display: inline;
  float: right;
  margin: 100px 100px 0;
}
.ab{
  float: left;
  margin: 90px 0 0 70px;
}
